#include <windows.h>

// Icon resource
IDI_ICON1 ICON "icon.ico"

// Version information
VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0x0L
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "TelegramCloud"
            VALUE "FileDescription", "Telegram Cloud Desktop Application"
            VALUE "FileVersion", "1.0.0"
            VALUE "InternalName", "TelegramCloud"
            VALUE "LegalCopyright", "Copyright (C) 2024"
            VALUE "OriginalFilename", "TelegramCloud.exe"
            VALUE "ProductName", "Telegram Cloud Desktop"
            VALUE "ProductVersion", "1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
